<footer class="text-muted ">
    <div class="containerFooter">
        <p class="mb-1">Album example is &copy; Bootstrap,<br>but please download and customize it for yourself!</p>
        <p class="mb-1">New to Bootstrap? <a href="https://getbootstrap.com">Visit the homepage</a><br> or read our <a href="../getting-started/introduction/">getting started guide</a>.</p>
        <p class="float-end mb-1">
            <a href="#" style="text-decoration:none"><span>⬆️</span> Back to top</a>
        </p>
    </div>
</footer>
