
 body {
    background-image: url("/img/FondoZoom_2.jpg");
    background-size: cover;      
}
  .bot{
         display: flex;
    justify-content: right;
  }
  .noticia {
        width: 55%;
        height: 70px;
         justify-content: left;
        text-align: justify;
  }
  .btn btn-warning mt-3 botones{
     display: flex;
    justify-content: right;
  }
  .logo{
      width: 55%;
        height: 55%;
  }
 .volver {
  display: flex;
  justify-content: center;
}


 