
 body {
    background-image: url("/img/FondoPanel.jpg");
    background-size: cover;   

 }
.table{
    width: 55%;
}
 .volver {
      display: flex;
  justify-content: center;
}
.titulo {
  text-align: center;
}
.acc {
  text-align: right;
}


/* .tit {
       color: #37474f;
          background-color: #ffcb00;
         margin: auto;        
        text-align:center;
            font-weight: 700;
 }*/




 