
body {
    background-image: url("/img/FondoPanel.jpg");
    background-size: cover;

}
.table{
    width: 55%;

}
.bot{
   text-align: right;
    margin-bottom: 2px;
    margin-right: 2px;
}
.volver {
    display: flex;
    justify-content: center;
}
.titulo {
    text-align: center;
}
.acc {
    text-align: right;
}
.containerFooter{
    display: flex;
    width: 100%;

    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
}

/* .tit {
       color: #37474f;
          background-color: #ffcb00;
         margin: auto;        
        text-align:center;
            font-weight: 700;
 }*/




