
body {
    background-image: url("/img/fondo_ini.jpg");
    background-size: cover;
}

#bot{
    display: flex;
    justify-content: center;
}
.cont{
     display: flex;
     flex-wrap: wrap;  
     
   justify-content: left;
   
}
.card{
    opacity: 0.8;
     background-color:white;
   justify-content: space-between;
   margin-bottom: 20px;
   margin-right: 20px;

}
.card-text{
    text-align:left;
    opacity: 1;
}
.card-body{
   
    justify-content: center;
}
.nav-item{
      margin-bottom: 2px;
   margin-right: 2px;
}
  .logo{
      width: 55%;
        height: 55%;
  }

